.orders_feed{
    margin-top: 20px;
    display: flex;
    column-gap: 68px;
}
.list_orders{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.scrollbar{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;

    max-height: 744px;
}

/* полоса прокрутки (скроллбар) */
.scrollbar::-webkit-scrollbar{
    background-color: #2F2F37;
    width: 8px;
}

/* ползунок скроллбара */
.scrollbar::-webkit-scrollbar-thumb{
    background-color: #8585AD;
}
.list_description{
    margin-top: 50px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
}
.description_text{
    font-size: 22px;
}
.link{
    text-decoration: none;
    color: #00CCCC;
    transition: opacity 0.2s linear;
}
.link::before{
    content: "->";
    margin-right: 15px;
}
.link::after{
    content: "<-";
    margin-left: 15px;
}
.link:hover::after{
    margin-left: 10px;
}
.link:hover::before{
    margin-right: 10px;
}
.link:hover{
    opacity: 0.6;
}