.steps{
    display: flex;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links{
    text-decoration: none;
}
.scrollbar{
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;

    max-height: 664px;
    margin-top: 40px;
}

/* полоса прокрутки (скроллбар) */
.scrollbar::-webkit-scrollbar{
    background-color: #2F2F37;
    width: 8px;
}

/* ползунок скроллбара */
.scrollbar::-webkit-scrollbar-thumb{
    background-color: #8585AD;
}

.list_item{
    margin-top: 64px;
}

.list_item:first-of-type{
    margin-top: 0;
}

.list_ingredients{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 56px 32px;

    margin-top: 25px;
    margin-left: 31px;
}

.list_ingredients_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_ingredients_item_active{
    position: relative;
}

.cost{
    display: flex;
    margin-top: 9px;
}